#optiflow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.optiflow-drop{
  background-color: rgb(64, 64, 64);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding: 1.5rem;
}

/* .section-header {
  border: 0.8px solid black;
  background-color: backgroundColor;
  position: absolute;
  top: 0;
  width: 100%;
} */

.sections {
  text-align: center;
  width: 100%;
  min-height: 10rem;
  border: 0.5px solid rgb(217, 217, 217);
  max-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}


.optiflow-component {
  position: absolute;
  z-index: 15;
  width: 20rem;
  display: none;
  background-color: rgb(64, 64, 64);
  color: rgb(217, 217, 217);
  font-size: 0.75rem;
  line-height: 1.33333;
  inset: 34px auto 0px 35px;
  border-top: 0.0625rem solid rgb(26, 26, 26);
  border-right: 0.0625rem solid rgb(26, 26, 26);
  border-bottom: 0.0625rem solid rgb(26, 26, 26);
}

.optiflow-trim {
  background: var(--wf-designer--panelColorLight);
  border-right: 1px solid var(--wf-designer--borderColorDark);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 1px;
  width: 6px;
  pointer-events: auto;
}

.optiflow-sidebar {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-left: 0.0625rem solid rgb(26, 26, 26);
}

.optiflow-header {
  display: flex;
  min-height: 2.875rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(77, 77, 77);
  border-bottom: 0.0625rem solid rgb(26, 26, 26);
}

.optiflow-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
}

.optiflow-close {
  font-size: 0.8rem;
  cursor: pointer;
}
